.login {
    height: 100%;
    width: 100%;
    background: var(--primary-color-3);
}
.card {
    background-color: var(--primary-color-1);
}
.card-header {
    height: var(--spacer-size-xlg);
    font-size: var(--font-size-m);
}
.size-img {
    max-width: 100%;
}